@charset "UTF-8";
/* Стандартный transition для hover-анимаций */
/* Миксин замены цвета placeholder у input.
Нужно добавить в стилях элемента конструкцию вида @include placeholder(#000); */
/* Plugins */
/* Blocks */
body, ul, ol {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Helvetica";
  src: url(../fonts/helvetica.woff2);
  src: url(../fonts/helvetica-bold.woff2);
}
.videotube-modal-overlay {
  color: #fff;
  display: none;
  z-index: 995;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  position: fixed;
  background: #000;
  text-align: center;
}

#videotube-modal-container {
  z-index: 998;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#videotube-modal {
  text-align: center;
  -webkit-box-shadow: 0 0 40px #333;
          box-shadow: 0 0 40px #333;
}

#videotube-modal-loading {
  position: fixed;
  z-index: 997;
  font-size: 1.5em;
  top: 49%;
  width: 5%;
  text-align: center;
  left: 45%;
}

#videotube-modal-close {
  position: fixed;
  right: 15px;
  top: 15px;
  padding: 3px 13px;
  z-index: 999;
  font-size: 25px;
  text-shadow: 0 0 10px #fff;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
}

#videotube-modal-close:hover {
  background: #333;
}

.header {
  border-bottom: 1px solid #CACAD6;
  background: #F6F4F5;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.header__content {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}
.header__nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 19px 0;
}
.header__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 0 20px;
}
.header__link {
  font-family: "Helvetica";
  font-size: 1em;
  line-height: 137%;
  color: #5C5C5E;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.header__link--one {
  display: none;
}
.header__link:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  font-weight: 600;
  color: #000000;
}
.header__logo {
  justify-self: center;
}
.header__bag {
  justify-self: end;
}
.header__burger {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__line {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  height: 4px;
  background-color: #000000;
  display: block;
  width: 30px;
  margin: 5px;
}
.header__line--first {
  -webkit-transform: translate(9px, -2px) rotate(45deg);
      -ms-transform: translate(9px, -2px) rotate(45deg);
          transform: translate(9px, -2px) rotate(45deg);
  -webkit-transform-origin: left top;
      -ms-transform-origin: left top;
          transform-origin: left top;
  height: 3px;
}
.header__line--middle {
  scale: 0;
}
.header__line--last {
  -webkit-transform: translate(-1px, -20px) rotate(-47deg);
      -ms-transform: translate(-1px, -20px) rotate(-47deg);
          transform: translate(-1px, -20px) rotate(-47deg);
  -webkit-transform-origin: right bottom;
      -ms-transform-origin: right bottom;
          transform-origin: right bottom;
  height: 3px;
}
.header__bag:hover {
  border: 2px solid #5C5C5E;
  border-radius: 20px;
  background: #5C5C5E;
  opacity: 0.8;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}
.header__bag:hover svg path {
  fill: #ffffff;
}
.header__burger {
  display: none;
}
.header__email {
  display: none;
}
.header__social {
  display: none;
}
@media screen and (max-width: 768px) {
  .header__burger {
    display: block;
    z-index: 5;
  }
  .header__content {
    position: relative;
  }
  .header__menu {
    display: none;
  }
  .header__menu--open {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    background-color: #F6F4F5;
    top: 0;
    left: 0;
    padding: 100px 10px 10px;
    width: 100%;
    gap: 15px 0;
  }
  .header__link {
    font-size: 1.5625em;
    font-weight: 700;
  }
  .header__link--one {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .header__email {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-family: "Helvetica";
    font-size: 1.5625em;
    line-height: 112%;
    background: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93)));
    background: -o-linear-gradient(top, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
    background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    margin-top: 50px;
  }
  .header__social {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    gap: 0 20px;
  }
}
@media screen and (max-width: 425px) {
  .header__logo svg {
    width: 150px;
  }
}
@media screen and (max-width: 360px) {
  .header__menu--open {
    -webkit-box-align: start;
    -webkit-align-items: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

.main {
  min-height: -webkit-calc(100vh - 85px);
  min-height: calc(100vh - 85px);
  background-image: url(../img/fone.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}
.main__content {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}
.main__box {
  padding-top: 200px;
}
.main__title {
  font-family: "Helvetica";
  font-size: 6em;
  line-height: 114%;
  color: #5C5C5E;
  margin-bottom: 10px;
}
.main__subtitle {
  font-family: "Helvetica";
  font-size: 2.25em;
  line-height: 113%;
  color: #5C5C5E;
  margin-bottom: 5px;
}
.main__text {
  font-family: "Helvetica";
  font-size: 0.8125em;
  line-height: 115%;
  color: #5C5C5E;
}
.main__button {
  margin-top: 50px;
  width: 300px;
  height: 60px;
  font-family: "Helvetica";
  font-weight: 700;
  font-size: 1em;
  line-height: 112%;
  color: #F6F4F5;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93)));
  background: -o-linear-gradient(top, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.main__button:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.main__price {
  font-family: "Helvetica";
  font-weight: 700;
  font-size: 1em;
  line-height: 112%;
  color: #5C5C5E;
  width: 300px;
  height: 60px;
  border: 1px solid transparent;
  -webkit-border-image: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93))) 1;
  -webkit-border-image: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%) 1;
       -o-border-image: -o-linear-gradient(top, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%) 1;
          border-image: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93))) 1;
          border-image: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%) 1;
  display: inline-block;
  margin: 0 0 10px -10px;
}
@media screen and (max-width: 768px) {
  .main__title {
    font-size: 4.125em;
  }
  .main__subtitle {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 625px) {
  .main__content {
    text-align: center;
  }
  .main__box {
    padding-top: 150px;
  }
  .main__price {
    margin-left: 0;
  }
}
@media screen and (max-width: 420px) {
  .main__title {
    font-size: 3em;
  }
  .main__subtitle {
    font-size: 1.25em;
  }
}

.prod__content {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 76px 10px 100px;
}
.prod__text {
  font-family: "Helvetica";
  font-size: 2.25em;
  line-height: 113%;
  text-transform: uppercase;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93)));
  background: -o-linear-gradient(top, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 21px;
  max-width: 330px;
}
.prod__titles {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.prod__btn {
  padding-left: 0;
  font-family: "Helvetica";
  font-weight: 700;
  font-size: 1em;
  line-height: 112%;
  color: #5C5C5E;
  text-align: left;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.prod__btn--active {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  background: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93)));
  background: -o-linear-gradient(top, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.prod__btn:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  color: #070707;
}
.prod__tab {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
  -webkit-align-items: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 20px 0;
  width: 200px;
  max-width: 100%;
  padding-right: 15px;
}
.prod__tabs {
  display: grid;
  grid-template-columns: 300px auto;
}
@media screen and (max-width: 1240px) {
  .prod__tabs {
    display: block;
  }
  .prod__tab {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    padding: 0 0 20px 0;
    gap: 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .prod__text {
    margin-top: 30px;
    text-align: center;
    max-width: 100%;
  }
  .prod__titles {
    display: block;
  }
}
@media screen and (max-width: 920px) {
  .prod__content {
    padding-bottom: 80px;
  }
}
@media screen and (max-width: 360px) {
  .prod__tab {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px 0;
  }
  .prod__text {
    text-align: left;
    font-size: 2em;
  }
}

.tabs__subtitle {
  font-family: "Helvetica";
  font-size: 1.5em;
  line-height: 116%;
  color: #5C5C5E;
  margin-bottom: 10px;
}
.tabs__subtext {
  font-family: "Helvetica";
  font-size: 1em;
  line-height: 112%;
  color: #5C5C5E;
  max-width: 275px;
  margin-bottom: 42px;
}
.tabs__info {
  display: none;
}
.tabs__info--active {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 0 40px;
}
.tabs__image {
  width: 65%;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
}
.tabs__video {
  background-image: url(../img/vision.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 158px;
  width: 280px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
  -webkit-justify-content: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding: 9px 10px;
  pointer-events: none;
}
.tabs__video svg {
  pointer-events: all;
  padding: 0;
  margin-left: 22px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.tabs__video svg path {
  fill: #BC10D8;
}
.tabs__video:hover svg {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.tabs__video:hover svg path {
  fill: white;
}
.tabs__video:hover svg ellipse {
  fill: black;
}
.tabs__small-text {
  font-family: "Helvetica";
  font-size: 0.8125em;
  line-height: 115%;
  color: #F6F4F5;
}
.tabs__sub {
  -webkit-align-self: end;
      -ms-flex-item-align: end;
          align-self: end;
}
@media screen and (max-width: 1240px) {
  .tabs__sub {
    -webkit-align-self: start;
        -ms-flex-item-align: start;
            align-self: start;
  }
}
@media screen and (max-width: 920px) {
  .tabs__info--active {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .tabs__image {
    width: 100%;
  }
  .tabs__subtext {
    max-width: 100%;
    text-align: center;
  }
  .tabs__subtitle {
    text-align: center;
    margin-top: 30px;
  }
  .tabs__video {
    margin: 0 auto;
    width: 100%;
    height: 300px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .tabs__video svg {
    margin: 150px 0 0;
  }
}

.cards__content {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}
.cards__games {
  padding: 30px 0 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 0 25px;
}
.cards__titleone {
  font-family: "Helvetica";
  font-size: 2.25em;
  line-height: 113%;
  text-transform: uppercase;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93)));
  background: -o-linear-gradient(top, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: 300px;
  margin-bottom: 10px;
}
.cards__textone {
  font-family: "Helvetica";
  font-size: 1em;
  line-height: 112%;
  color: #5C5C5E;
  max-width: 300px;
  margin-bottom: 25px;
}
.cards__btn {
  border: 1px solid;
  -webkit-border-image: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93))) 1;
  -webkit-border-image: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%) 1;
       -o-border-image: -o-linear-gradient(top, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%) 1;
          border-image: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93))) 1;
          border-image: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%) 1;
  font-family: "Helvetica";
  font-weight: 700;
  font-size: 1em;
  line-height: 112%;
  padding: 16px 48px;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93)));
  background: -o-linear-gradient(top, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.cards__btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93)));
  background: -o-linear-gradient(top, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  -webkit-text-fill-color: #ffffff;
}
.cards__cards {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.cards__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid;
  -webkit-border-image: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93))) 1;
  -webkit-border-image: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%) 1;
       -o-border-image: -o-linear-gradient(top, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%) 1;
          border-image: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93))) 1;
          border-image: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%) 1;
  padding: 20px;
}
.cards__image {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  display: block;
}
.cards__title {
  font-family: "Helvetica";
  font-size: 1.375em;
  line-height: 116%;
  color: #070707;
  padding: 10px 0;
}
.cards__text {
  font-family: "Helvetica";
  font-size: 1em;
  line-height: 112%;
  color: #5C5C5E;
  margin-bottom: 40px;
  max-width: 260px;
}
.cards__link {
  font-family: "Helvetica";
  font-size: 1em;
  line-height: 112%;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93)));
  background: -o-linear-gradient(top, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  margin-top: auto;
  width: 100px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.cards__link:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
@media screen and (max-width: 968px) {
  .cards__games {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px 0;
    padding-bottom: 80px;
  }
  .cards__titleone {
    max-width: 100%;
  }
  .cards__textone {
    max-width: 100%;
  }
  .cards__info {
    text-align: center;
  }
}
@media screen and (max-width: 635px) {
  .cards__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .cards__title {
    font-size: 1.125em;
  }
  .cards__text {
    font-size: 0.875em;
  }
}
@media screen and (max-width: 430px) {
  .cards__cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .cards__text {
    max-width: 100%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 360px) {
  .cards__titleone {
    font-size: 2em;
  }
}

.title__title {
  font-family: "Helvetica";
  font-size: 1em;
  line-height: 112%;
  color: #5C5C5E;
  text-transform: uppercase;
  width: 300px;
  padding: 0 20px 20px 0;
  max-width: 100%;
}

.buy {
  position: relative;
  overflow-x: hidden;
}
.buy__content {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px 109px;
  text-align: center;
}
.buy__text {
  font-family: "Helvetica";
  font-size: 0.8125em;
  line-height: 115%;
  color: #5C5C5E;
}
.buy__button {
  width: 300px;
  height: 60px;
  font-family: "Helvetica";
  font-weight: 700;
  font-size: 1em;
  line-height: 112%;
  color: #F6F4F5;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93)));
  background: -o-linear-gradient(top, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  text-transform: uppercase;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.buy__button:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.buy__price {
  font-family: "Helvetica";
  font-weight: 700;
  font-size: 1em;
  line-height: 112%;
  color: #5C5C5E;
  width: 300px;
  height: 60px;
  border: 1px solid transparent;
  -webkit-border-image: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93))) 1;
  -webkit-border-image: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%) 1;
       -o-border-image: -o-linear-gradient(top, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%) 1;
          border-image: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93))) 1;
          border-image: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%) 1;
  display: inline-block;
  margin: 0 0 10px -10px;
}
.buy__img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  margin: 0 auto 60px;
}
.buy__bg {
  font-family: "Helvetica";
  font-weight: 700;
  font-size: 23.125em;
  line-height: 120%;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93)));
  background: -o-linear-gradient(top, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  opacity: 0.1;
  position: absolute;
  z-index: -1;
  -webkit-animation: line-text 6s linear 1s infinite;
          animation: line-text 6s linear 1s infinite;
}
@-webkit-keyframes line-text {
  from {
    -webkit-transform: translateX(115%);
            transform: translateX(115%);
  }
  to {
    -webkit-transform: translateX(-115%);
            transform: translateX(-115%);
  }
}
@keyframes line-text {
  from {
    -webkit-transform: translateX(115%);
            transform: translateX(115%);
  }
  to {
    -webkit-transform: translateX(-115%);
            transform: translateX(-115%);
  }
}
@media screen and (max-width: 615px) {
  .buy__price {
    margin-left: 0;
  }
}
@media screen and (max-width: 430px) {
  .buy__bg {
    font-size: 20.625em;
  }
  .buy__img {
    max-width: 80%;
    padding-top: 50px;
  }
  .buy__content {
    padding-bottom: 80px;
  }
}

.kit__content {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}
.kit__box {
  padding: 30px 0 100px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}
.kit__item--one {
  grid-row: 1/-1;
}
.kit__img {
  display: block;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 10px;
  height: auto;
}
.kit__textone {
  font-family: "Helvetica";
  font-size: 2.25em;
  line-height: 113%;
  text-transform: uppercase;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93)));
  background: -o-linear-gradient(top, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}
.kit__text {
  font-family: "Helvetica";
  font-size: 1em;
  line-height: 112%;
  color: #5C5C5E;
}
@media screen and (max-width: 1190px) {
  .kit__box {
    grid-template-columns: 580px 1fr 1fr;
  }
}
@media screen and (max-width: 1015px) {
  .kit__box {
    display: block;
    padding-bottom: 80px;
  }
  .kit__img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    max-width: 50%;
    margin: 0 auto;
  }
  .kit__item {
    text-align: center;
  }
  .kit__text {
    margin: 10px 0 20px;
    font-size: 1.25em;
  }
  .kit__textone {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 620px) {
  .kit__img {
    max-width: 80%;
  }
}
@media screen and (max-width: 360px) {
  .kit__img {
    max-width: 100%;
  }
  .kit__text {
    font-size: 1em;
  }
  .kit__textone {
    font-size: 1.875em;
  }
}

.promo__content {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px 100px;
}
.promo__inner {
  background-image: url(../img/promo.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 500px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.promo__btn {
  font-family: "Helvetica";
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93)));
  background: -o-linear-gradient(top, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  border-radius: 50%;
  padding: 16px 14px;
  -webkit-align-self: end;
      -ms-flex-item-align: end;
          align-self: end;
  margin-bottom: 80px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.promo__btn:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  background: black;
}

.more__content {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px 100px;
}
.more__textone {
  padding-top: 10px;
  font-family: "Helvetica";
  font-size: 2.25em;
  line-height: 113%;
  text-transform: uppercase;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93)));
  background: -o-linear-gradient(top, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  margin-bottom: 30px;
}
.more__img {
  max-width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 10px;
}
.more__slider {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0 20px;
}
.more__items {
  max-width: 100%;
}
.more__item {
  border: 1px solid;
  -webkit-border-image: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93))) 1;
  -webkit-border-image: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%) 1;
       -o-border-image: -o-linear-gradient(top, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%) 1;
          border-image: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93))) 1;
          border-image: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%) 1;
  padding: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}
.more__title {
  font-family: "Helvetica";
  font-size: 1.5em;
  line-height: 116%;
  color: #070707;
  margin-bottom: 10px;
  min-height: 56px;
}
.more__text {
  font-family: "Helvetica";
  font-size: 1em;
  line-height: 112%;
  color: #5C5C5E;
  margin-bottom: 42px;
  margin-top: auto;
}
.more__price {
  font-family: "Helvetica";
  font-weight: 700;
  font-size: 1em;
  line-height: 112%;
  color: #070707;
  margin-top: auto;
}
.more__btn {
  font-family: "Helvetica";
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93)));
  background: -o-linear-gradient(top, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  border: 1px solid transparent;
  -webkit-border-image: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93))) 1;
  -webkit-border-image: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%) 1;
       -o-border-image: -o-linear-gradient(top, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%) 1;
          border-image: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93))) 1;
          border-image: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%) 1;
  padding: 6px 70px;
  margin-top: 20px;
}
.more__button-prev, .more__button-next {
  cursor: pointer;
}
.more__button-prev svg, .more__button-next svg {
  width: 30px;
  height: 30px;
}
.more .slick-dotted > .slick-dots {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0 20px;
}
.more li > button {
  font-size: 0px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #5C5C5E;
}
.more .slick-dots .slick-active button {
  width: 12px;
  height: 12px;
  background-color: #BC10D8;
}
.more__button-prev {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
@media screen and (max-width: 1280px) {
  .more__items {
    width: 900px;
  }
}
@media screen and (max-width: 1000px) {
  .more__items {
    width: 600px;
    text-align: center;
  }
  .more__content {
    padding-bottom: 80px;
  }
}
@media screen and (max-width: 705px) {
  .more__button-prev svg, .more__button-next svg {
    display: none;
  }
}
@media screen and (max-width: 607px) {
  .more__items {
    width: 300px;
  }
}
@media screen and (max-width: 360px) {
  .more__textone {
    font-size: 2em;
  }
}

.form__content {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px 103px;
}
.form__title {
  font-family: "Helvetica";
  font-size: 1.5em;
  line-height: 116%;
  color: #070707;
  margin-bottom: 10px;
}
.form__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: end;
      -ms-flex-align: end;
          align-items: end;
}
.form__contacts {
  -webkit-flex-basis: 600px;
      -ms-flex-preferred-size: 600px;
          flex-basis: 600px;
}
.form__form {
  margin-bottom: 10px;
  position: relative;
}
.form__text {
  font-family: "Helvetica";
  font-size: 0.8125em;
  line-height: 115%;
  color: #5C5C5E;
}
.form__email {
  font-family: "Helvetica";
  font-size: 1em;
  line-height: 112%;
  color: #5C5C5E;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.form__input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #CACAD6;
  padding: 22px 70px 22px 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.form__input::-webkit-input-placeholder {
  font-family: "Helvetica";
  font-size: 0.9375em;
  line-height: 115%;
  color: #CACAD6;
}
.form__input::-moz-placeholder {
  font-family: "Helvetica";
  font-size: 0.9375em;
  line-height: 115%;
  color: #CACAD6;
}
.form__input:-ms-input-placeholder {
  font-family: "Helvetica";
  font-size: 0.9375em;
  line-height: 115%;
  color: #CACAD6;
}
.form__input::-ms-input-placeholder {
  font-family: "Helvetica";
  font-size: 0.9375em;
  line-height: 115%;
  color: #CACAD6;
}
.form__input::placeholder {
  font-family: "Helvetica";
  font-size: 0.9375em;
  line-height: 115%;
  color: #CACAD6;
}
.form__input:focus {
  outline: none;
  font-size: 20px;
}
.form__btn {
  font-family: "Helvetica";
  font-weight: 700;
  font-size: 1em;
  line-height: 112%;
  color: #5C5C5E;
  background: #CACAD6;
  padding: 14px 12px;
  border-radius: 50%;
  text-transform: uppercase;
  position: absolute;
  right: 0;
  bottom: 5px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.form__btn:hover {
  background: black;
  color: white;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.form__email:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93)));
  background: -o-linear-gradient(top, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
@media screen and (max-width: 860px) {
  .form__inner {
    display: block;
  }
  .form__contacts {
    max-width: 600px;
    margin-bottom: 20px;
  }
}

.footer {
  border-bottom: 1px solid #CACAD6;
  border-top: 1px solid #CACAD6;
  padding: 30px 0;
  margin-bottom: 44px;
}
.footer__content {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}
.footer__nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 0 20px;
}
.footer__link {
  font-family: "Helvetica";
  font-size: 1em;
  line-height: 137%;
  color: #5C5C5E;
}
.footer__logo {
  justify-self: center;
}
.footer__social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  justify-self: end;
}
.footer__link-item:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.footer__link:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  font-weight: 600;
  color: #000000;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
@media screen and (max-width: 1124px) {
  .footer__nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 50px;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}
@media screen and (max-width: 425px) {
  .footer__menu {
    gap: 0 10px;
  }
  .footer__link {
    font-size: 0.75em;
  }
}

.popup {
  position: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}
.popup--hide {
  display: none;
}
.popup__content {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  background: #ffffff;
  padding: 0 20px;
}
.popup__titles {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
  margin-bottom: 30px;
}
.popup__background {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.popup__close {
  -webkit-align-self: end;
      -ms-flex-item-align: end;
          align-self: end;
  cursor: pointer;
  padding-right: 10px;
}
.popup__close svg {
  width: 30px;
  height: 30px;
}
.popup__title {
  font-family: "Helvetica";
  font-size: 1.5em;
  line-height: 116%;
  color: #070707;
}
.popup__form {
  margin-bottom: 30px;
  position: relative;
}
.popup__email {
  font-family: "Helvetica";
  font-size: 1.875em;
  line-height: 112%;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93)));
  background: -o-linear-gradient(top, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: block;
  text-align: center;
  margin-bottom: 30px;
}
.popup__input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #CACAD6;
  padding: 22px 70px 22px 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.popup__input::-webkit-input-placeholder {
  font-family: "Helvetica";
  font-size: 0.9375em;
  line-height: 115%;
  color: #CACAD6;
}
.popup__input::-moz-placeholder {
  font-family: "Helvetica";
  font-size: 0.9375em;
  line-height: 115%;
  color: #CACAD6;
}
.popup__input:-ms-input-placeholder {
  font-family: "Helvetica";
  font-size: 0.9375em;
  line-height: 115%;
  color: #CACAD6;
}
.popup__input::-ms-input-placeholder {
  font-family: "Helvetica";
  font-size: 0.9375em;
  line-height: 115%;
  color: #CACAD6;
}
.popup__input::placeholder {
  font-family: "Helvetica";
  font-size: 0.9375em;
  line-height: 115%;
  color: #CACAD6;
}
.popup__input:focus {
  outline: none;
  font-size: 20px;
}
.popup__btn {
  font-family: "Helvetica";
  font-weight: 700;
  font-size: 1em;
  line-height: 112%;
  color: #5C5C5E;
  background: #CACAD6;
  padding: 14px 12px;
  border-radius: 50%;
  text-transform: uppercase;
  position: absolute;
  right: 0;
  bottom: 5px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.popup__btn:hover {
  background: black;
  color: white;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.popup__email:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
@media screen and (max-width: 605px) {
  .popup__content {
    max-width: 360px;
  }
}
@media screen and (max-width: 360px) {
  .popup__content {
    max-width: 318px;
  }
  .popup__title {
    font-size: 1em;
  }
  .popup__email {
    font-size: 1.375em;
    text-align: left;
  }
}
